

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

.content {
  display: flex;
  height: 100vh;
}

.project-content {
  flex: 1.5;
  width: 300px;
  background-color: aqua;
  height: 100%;
}

.projects {
  border: 2px solid black;
}

.todo-content {
  flex: 5;
  background-color: rgb(192, 157, 225);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  gap: 20px;
  padding: 20px 0 0 0;
}

.todo-holder-div {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  width: 80%;

}

.todo-divs {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border: 2px solid red;
  background-color: white;
  width: 100%;
}

.left-side-content-todo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right-side-content-todo {

}

.button {
  width: 30px;
  height: 50px;
  margin-bottom: 30px;
}

.project-divs {
  border: 2px solid black;
  margin: 5px 0 5px 0;
}


.todo-description {
  height: 100px;
  word-wrap: break-word; /* Wrap long words to the next line */
  word-break: break-word; /* Ensure long words break inside the container */
  white-space: normal; /* Allow text to wrap to the next line */
  overflow-wrap: break-word; /* Another way to handle text wrapping */
  overflow-y: auto;
}

.main-modal {
}

.main-div-modal-todo {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal-description-todo {
  height: 100px;
  text-align: left;
}